<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/reset.css"/>
        <link rel="stylesheet" href="static/css/style.css"/>
        <!-- Leaflet CSS & JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
        <!-- d3 JavaScript -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <!-- Fusioncharts Librarys -->
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
        <!-- Fusioncharts Theme -->
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            
    </head>

    <body>

            <div class="grid-container">
                <div class="Header">
                    <h1>How's it Growing?</h1>
                    <p>Growing Plants in North Carolina</p>
                </div>
                <div class="selector">
                    <div id="search">
                            <!--<input type="text" placeholder="Search..">-->
                            Select your plant:
                            <select id="plantChoices" onchange="optionChanged(this.value)"></select>
                    </div>
                </div>
                <div class="Meta">
                    <div id="meta">
                            <div id="detail" class="meta-body">
                                <!--
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                -->
                            </div>
                    </div>
                </div>
                <div class="MapZone">
                    <div id="sliders" style="width:60%">
                        <div class="slidecontainer">
                            YEAR: <span id="year"></span>
                            <input type="range" min="1999" max="2019" value="2009" class="slider" id="yearRange">
                            MONTH: <span id="month"></span>
                            <input type="range" min="0" max="11" value="5" class="slider" id="monthRange">
                        </div>
                        <script>
                            var slider = document.getElementById("yearRange");
                            var output = document.getElementById("year");
                            var slider2 = document.getElementById("monthRange");
                            var output2 = document.getElementById("month");
                            var cal = ["JAN","FEB","MAR","APR","MAY","JUN","JLY","AUG","SEP","OCT","NOV","DEC"]
                            output.innerHTML = slider.value;
                            slider.oninput = function() {
                                output.innerHTML = this.value;
                                updateWeather();
                                //colorUpdate();
                                FusionCharts.ready(drawCharts);
                                //console.log("here2");
                            }
                            output2.innerHTML = cal[slider2.value];
                            slider2.oninput=function(){
                                output2.innerHTML = cal[this.value];
                                updateWeather();
                                //colorUpdate();
                                FusionCharts.ready(drawCharts);
                            }
                        </script>
                    </div>
                        <!-- Map -->
                    <div class="map" id="map">
                    </div>
                </div>
                <div class="Image">
                    <img id="image" src="#" alt="shtuff.j peg">
                </div>
                <div class="Dials">
                    <div id="gaiges">
                        <h3><span id="activeCounty"></span></h3>
                        <div id="dial">
                        </div>
                        <div id="meter">
                        </div>
                        <script type="text/javascript"src="static/js/fCharts.js"></script>
                    </div>
                </div>
            </div>
    <!-- Drop Dwon -->
        <!-- API key -->
        <script type="text/javascript" src="static/js/config.js"></script>
        <!-- JS -->
        <script type="text/javascript" src="static/js/logic.js"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>

</html>